
.jumbotron-custom {
  /* Imagen de fondo con una capa oscura para legibilidad */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/jumbotron-bg.jpg');
  
  /* Ajustar la imagen para que cubra todo el div */
  background-size: cover;
  
  /* Centrar la imagen */
  background-position: center;
}

/* Cambiar el color del texto para que sea legible sobre el fondo oscuro */
.jumbotron-custom h1,
.jumbotron-custom p {
  color: white;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
