{% extends 'base.html' %}

{% load static %}

{% block title %}Home - Recetario{% endblock %}

{% block content %}

<div class="container">
    <div class="p-5 mb-4 rounded-3 mt-4 jumbotron-custom">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenid@s a nuestro Recetario Italiano!</h1>
            <p class="col-md-8 fs-4">Explora una colección de recetas tradicionales de Italia.</p>
            <a class="btn btn-success btn-lg" href="#recetas" role="button">Explora nuestras recetas</a>
        </div>
    </div>

    <!-- Lista de Recetas -->
    <div id="recetas" class="container">
        <div class="container d-flex flex-column gap-3">
            {% for receta in recetas %}
            <div class="accordion" id="accordion{{ forloop.counter0 }}">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed d-flex align-items-center gap-3" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ forloop.counter0 }}"
                                aria-expanded="false"
                                aria-controls="collapse{{ forloop.counter0 }}">

                            <img src="{% static receta.imagen %}"
                            alt="Foto de {{ receta.nombre }}"
                            class="img-thumbnail"
                            style="width: 50px; height: 50px; object-fit: cover;">

                            {{ receta.nombre }}
                        </button>
                    </h2>
                    <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse"
                         data-bs-parent="#accordion{{ forloop.counter0 }}">
                        <div class="accordion-body">
                            <p><strong>Descripción:</strong> {{ receta.descripcion|truncatewords:15 }}</p>
                            <a href="{% url 'receta_detalle' receta.nombre %}" class="btn btn-outline-success mt-2">Ver receta completa</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}