{% extends 'base.html' %}

{% block title %}Home - Recetario{% endblock %}

{% block content %}

<div class="container">
    <h1>¡Bienvenid@ al Recetario!</h1>
    <h2>Aquí encontrarás las recetas más deliciosas del grupo 0074</h2>
    <!-- Lista de Recetas: for para mostrarlas. -->
    <div class="container">
        <div class="container d-flex flex-column gap-3">
            {% for receta in recetas %}
            <div class="accordion" id="accordion{{ forloop.counter0 }}">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="false"
                            aria-controls="collapse{{ forloop.counter0 }}">
                            {{ receta.nombre }}
                        </button>
                    </h2>
                    <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse"
                        data-bs-parent="#accordion{{ forloop.counter0 }}">
                        <div class="accordion-body">
                            <p><strong>Descripción:</strong> {{ receta.descripcion|truncatewords:15 }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}