{% extends 'base.html' %}

{% block title %} Registro de Eventos {% endblock %}

{% block content %}
<div class="container">
  <div class="p-5 mb-4 rounded-3 mt-4 jumbotron-custom">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Registro de Eventos</h1>
      <p class="col-md-8 fs-4">Registra tu evento con nosotros en este formulario.</p>
    </div>
  </div>
  <section>
    <div class="row justify-content-center">
      <div class="px-4 py-2">
        <div class="card w-100">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{ formulario.as_p }}
              <button class="btn btn-success" type="submit">Registrar Evento</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}