{% extends 'base.html' %}

{% block title %} Registro de Eventos {% endblock %}

{% block content %}
<div class="container">
  <div class="p-5 mb-4 rounded-3 mt-4 jumbotron-custom">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Registro de Eventos</h1>
      <p class="col-md-8 fs-4">Registra tu evento con nosotros en este formulario.</p>
    </div>
  </div>
  <section>
    <div class="row justify-content-center">
      <div class="px-4 py-2">
        <div class="card w-100">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{ formulario.as_p }}
              <button class="btn btn-success" type="submit">Registrar Evento</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h1 class="my-3">Eventos Registrados</h1>
    {% if eventos %}
    <!-- Lista de Eventos -->
    <div id="eventos" class="container">
      <div class="container d-flex flex-column gap-3">
        {% for evento in eventos %}
        <div class="accordion" id="accordion2{{ forloop.counter0 }}">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="false"
                aria-controls="collapse{{ forloop.counter0 }}">
                {{ evento.nombre_evento }}
              </button>
            </h2>
            <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse"
              data-bs-parent="#accordion2{{ forloop.counter0 }}">
              <div class="accordion-body">
                <p>{{ evento.fecha_evento }} - {{ evento.ubicacion }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <p>No hay eventos registrados.</p>
    {% endif %}
  </section>

</div>
{% endblock %}